<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="helloAction" class="com.imedis.cntrial.web.HelloAction">
        <property name="service" ref="helloService"/>
    </bean>
    <bean name="helloService" class="com.imedis.cntrial.service.HelloService"></bean>
</beans>